<aside class="main-sidebar sidebar-light-info elevation-1">
    <a asp-action="Index" asp-controller="Dashboard" class="brand-link">
        <img src="https://picsum.photos/200" alt="AdminLTE Logo" width="30" height="30" class="brand-image img-circle elevation-0" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Dashboard" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Dashboard" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Project" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Project" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-project-diagram"></i>
                        <p>Project</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Contractor" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Contractor" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Contractor</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="ContractorPayment" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "ContractorPayment" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Contractor Payment</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Investment" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Investment" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Investment</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Material" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Material" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Material</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Partner" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Partner" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-users"></i>  <p>Partner</p>
                    </a>
                </li>

              <li class="nav-header text-uppercase">Permission Management</li>

                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>Permission Management <i class="fas fa-angle-left right"></i> </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Role" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Role" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-user-lock"></i>
                                <p>Role Management</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="User" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "User" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-users"></i>
                                <p>User Management</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-dollar-sign"></i>
                        <p>Cost Management <i class="fas fa-angle-left right"></i> </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="PilingCost" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "PilingCost" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Piling Cost</p>
                            </a>
                            <a asp-action="Index" asp-controller="SoilTestCost" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "SoilTestCost" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Soil Test Cost</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="LaborCost" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "LaborCost" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-dollar-sign"></i>
                                <p>Labor Cost</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="MaterialCost" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "MaterialCost" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-shopping-bag"></i>
                                <p>Material Cost</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="PlanePassCost" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "PlanePassCost" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-shopping-bag"></i>
                                <p>Plane Pass Cost</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="OtherCost" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "OtherCost" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Other Cost</p>
                            </a>
                        </li>
                    </ul>
                </li>











                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>Settings <i class="fas fa-angle-left right"></i> </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="ProjectType" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "ProjectType" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-folder"></i>
                                <p>Project Type</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="ContractorType" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "ContractorType" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Contractor Type</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="UnitType" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "UnitType" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>Unit Type</p>
                            </a>
                        </li>






                    </ul>
                </li>
                @* start report *@
                <li class="nav-header text-uppercase">REPORT</li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-dollar-sign"></i>
                        <p>Report <i class="fas fa-angle-left right"></i> </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="List" asp-controller="ProjectRPT" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "ProjectRPT" && ViewContext.RouteData.Values["Action"].ToString() == "List" ? "active" : "")">
                                <i class="nav-icon fas fa-user-lock"></i>
                                <p>ConstractorPayment</p>
                            </a>
                        </li>
                        
                      
                    </ul>
                </li>

                @* end report *@


            </ul>
        </nav>
    </div>
</aside>

