<aside class="main-sidebar sidebar-light-info elevation-1">
    <a asp-action="Index" asp-controller="Dashboard" class="brand-link">
        <img src="~/images/logo.png" alt="AdminLTE Logo" width="50" height="30" class="img-circle elevation-0" style="opacity: .8">
        <span class="brand-text font-weight-light">Renaissance Holidays</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Dashboard" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Dashboard" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Airline" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Airline" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-paper-plane"></i>
                        <p>Airline</p>
                    </a>
                </li>
                @*<li class="nav-item">
            <a asp-action="Index" asp-controller="Airport" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Airport" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <i class="nav-icon fas fa-plane"></i>
                <p>Airport</p>
            </a>
        </li>*@
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="FlightReservation" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "FlightReservation" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class=" nav-icon fas fa-plane-departure"></i>
                        <p>Flight Request</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="HotelReservation" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "HotelReservation" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-hotel"></i>
                        <p>Hotel Request</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="TourPackage" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "TourPackage" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-umbrella-beach"></i>
                        <p>Tour Package</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="ImageSlider" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "ImageSlider" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-images"></i>
                        <p>Image Slider</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Country" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Country" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-globe"></i>
                        <p>Country</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="ConfirmBooking" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "ConfirmBooking" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fas fa-calendar-check"></i>
                        <p>Package Booking</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="VisaRequirement" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "VisaRequirement" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fab fa-cc-visa"></i>
                        <p>Visa Requirement</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="VisaRequest" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "VisaRequest" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon fa-solid fa-envelope-open-text"></i>
                        <p>Visa Request</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="ImageGallery" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "ImageGallery" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon far fa-images"></i>
                        <p>Gallery</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Faq" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Faq" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                        <i class="nav-icon far fa-question-circle"></i>
                        <p>FAQ</p>
                    </a>
                </li>
                @*<li class="nav-item">
            <a asp-action="Index" asp-controller="Room" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Investment" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <i class="nav-icon fas fa-bed"></i>
                <p>Room</p>
            </a>
        </li>*@
                @*<li class="nav-item">
            <a asp-action="Index" asp-controller="Baggage" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Investment" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                <i class=" nav-icon fas fa-suitcase"></i>
                <p>Baggage</p>
            </a>
        </li>*@

                <li class="nav-header text-uppercase">Permission Management</li>
                <li class="nav-item">
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="nav-icon fas fa-users-cog"></i>
                        <p>Permission Management <i class="fas fa-angle-left right"></i> </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Role" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Role" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-user-lock"></i>
                                <p>Role Management</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="User" class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "User" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">
                                <i class="nav-icon fas fa-users"></i>
                                <p>User Management</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>

