@model FlyNest.Application.ViewModels.VmEntities.VmFlight

@{
    ViewData["Title"] = "DetailsAsync";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<h1>DetailsAsync</h1>

<div>
    <h4>VmFlight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepatureAirportId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepatureAirportId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepatureAirportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepatureAirportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirportId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirportId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalAirportName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalAirportName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AircraftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AircraftType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
