@model IEnumerable<FlyNest.Application.ViewModels.VmEntities.VmHotelReservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Hotel Reservation</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Hotel Reservation</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Hotel Reservation List</h3>
            <div class="card-tools">
                <a asp-action="AddEdit" asp-controller="Hotel" class="btn btn-info btn-sm"><i class="bi bi-plus-square"></i>Add Hotel</a>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CityName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PreferenceHotel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Adult)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Child)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ClientName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmailAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ContactNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AlternativeContact)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CityName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PreferenceHotel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Adult)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Child)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClientName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmailAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ContactNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AlternativeContact)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                <a asp-action="AddEdit" asp-controller="HotelReservation" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="bi bi-pencil-square"></i> Edit </a>
                                <a onclick="return confirm('Are you sure you want to delete this item?');" asp-action="Delete" asp-controller="HotelReservation" asp-route-id="@item.Id"
                                   class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>


