@model FlyNest.Application.ViewModels.VmEntities.VmVisaRequest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CountryName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CountryName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TravelDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TravelDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.MobileNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.MobileNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Requirements)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Requirements)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
            </dl>
        </div>
    </div>
</section>
