@model FlyNest.Application.ViewModels.VmEntities.VmRoom

@{
    ViewData["Title"] = "AddEdit";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Room</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Create Room</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Create Room</h3>
        </div>
        <div class="card-body">
            <form asp-action="AddEdit" asp-controller="Room" role="form" enctype="multipart/form-data">
                <div class="modal-body form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="col-form-label">Hotel Name <span class=" text-danger ">*</span></label>
                            <select asp-for="HotelId" asp-items="@(ViewBag.HotelId)" class="form-control select2">
                                <option value="">--Select Hotel Name--</option>
                            </select>
                            <span asp-validation-for="HotelId" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Room Name <span class=" text-danger ">*</span></label>
                                <input asp-for="Name" class="form-control"/>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Room Benefits <span class=" text-danger ">*</span></label>
                                <input asp-for="Benefits" class="form-control"/>
                                <span asp-validation-for="Benefits" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Room Facilities <span class=" text-danger ">*</span></label>
                                <input asp-for="Facilities" class="form-control"/>
                                <span asp-validation-for="Facilities" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-form-label">Price Par Night <span class=" text-danger ">*</span></label>
                                <input asp-for="PriceParNight" class="form-control"/>
                                <span asp-validation-for="PriceParNight" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Files" class="col-form-label">Images</label>
                            <input type="file" asp-for="Files" class="form-control" name="Files" accept="image/*" multiple onchange="PreviewImages()" />
                            <span asp-validation-for="Files" class="text-danger"></span>
                            <div class="mt-3" style="text-align: end;">
                                <div id="ImagePreviewContainer" class="row">
                                    @foreach (var item in Model.RoomImages)
                                    {
                                        <img src="~/images/room/@item.RoomImage" alt="img" class="img-thumbnail" style="width:170px;" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-sm btn-info"><i class="bi bi-save"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function PreviewImages() {
            var previewContainer = $("#ImagePreviewContainer");
            previewContainer.empty();
        @foreach (var item in Model.RoomImages)
        {
            <text>
                var imageUrl = '@Url.Content("~/images/room/")' + '@item.RoomImage';
                previewContainer.append('<img class="img-thumbnail" data-filename="@item.RoomImage" src="' + imageUrl + '" alt="img" style="width:170px; margin-right: 10px;">');
            </text>
        }             
            var filesInput = $('input[type="file"]');
            var files = filesInput[0].files;

            for (var i = 0; i < files.length; i++) {
                var file = files[i];

                if (file.type.match('image.*')) {
                    var img = $('<img>').addClass('img-thumbnail').attr({
                        'src': URL.createObjectURL(file),
                        'style': 'width: 170px; margin-right: 10px;'
                    });
                    previewContainer.append(img);
                }
            }
            previewContainer.find('img[data-filename]').each(function () {
                var dataFilename = $(this).data('filename');
                var completeUrl = '@Url.Content("~/images/room/")' + dataFilename;
                $(this).attr('src', completeUrl);
            });
        }
        $(document).ready(function () {
            PreviewImages();
            $('input[type="file"]').on('change', PreviewImages);
        });
    </script>
}
