@model IEnumerable<FlyNest.Application.ViewModels.VmEntities.VmRoomImages>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
    int ino = 1;
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Room</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Hotels</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Room List</h3>
            <div class="card-tools">
                <a asp-action="AddEdit" asp-controller="Room" class="btn btn-info btn-sm"><i class="bi bi-plus-square"></i>Add Room</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>@Html.DisplayNameFor(x => x.Room.Hotel.Name)</th>
                        <th>@Html.DisplayNameFor(x => x.Room.Name)</th>
                        <th>@Html.DisplayNameFor(x => x.Room.Facilities)</th>
                        <th>@Html.DisplayNameFor(x => x.Room.Benefits)</th>
                        <th>@Html.DisplayNameFor(x => x.Room.PriceParNight)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@ino</td>
                            <td>@Html.DisplayFor(modelItem => item.Room.Hotel.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Room.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Room.Facilities)</td>
                            <td>@Html.DisplayFor(modelItem => item.Room.Benefits)</td>
                            <td>@Html.DisplayFor(modelItem => item.Room.PriceParNight)</td>
                            <td>
                               
                                    <img class="img-thumbnail" width="40" src="~/images/room/@item.RoomImage" alt="Image" />
                               
                            </td>
                            <td>
                                <a asp-action="AddEdit" asp-controller="Room" asp-route-id="@item.Id" class="btn btn-info btn-sm"><i class="bi bi-pencil-square"></i> Edit </a>
                                <a onclick="return confirm('Are you sure you want to delete this item?');" asp-action="Delete" asp-controller="Room" asp-route-id="@item.Id"
                                   class="btn btn-danger btn-sm">
                                    <i class="bi bi-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                        ino++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
