@using FlyNest.SharedKernel.Core.Helpers;
@using FlyNest.Application.ViewModels.RolePermission;

@model PaginatedList<UserViewModel>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"]</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@ViewData["Title"]</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="card mb-4">
        <div class="card-header">
            <h3 class="card-title">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th> Id  </th>
                        <th> UserName </th>
                        <th> Email </th>
                        <th> Action  </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Action
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" asp-controller="User" asp-action="ManageRoles" asp-route-userId="@item.Id">Manage Roles</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer pb-0">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <div class="row">
                <div class="col">
                    <ul class="pagination float-right">
                        <li>
                            <a asp-action="Index"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               class="btn btn-default @prevDisabled">
                                Previous
                            </a>
                        </li>
                        @for (var i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.PageIndex ? "active" : "")" style="z-index: 0;">
                                <a asp-action="Index"
                                   asp-route-pageNumber="@i"
                                   class="page-link">@i</a>
                            </li>
                        }
                        <li>
                            <a asp-action="Index"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               class="btn btn-default @nextDisabled">
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>