@model IEnumerable<FlyNest.Application.ViewModels.VmEntities.VmCountry>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Country</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Country</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Country List</h3>
            <div class="card-tools">
                <a asp-action="AddEdit" asp-controller="Country" class="btn btn-info btn-sm"><i class="bi bi-plus-square"></i>Add Country</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table nowrap" id="dataTable" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Image)
                        </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="vertical-align: middle;">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td style="vertical-align: middle;">
                                <img src="~/images/countries/@Html.DisplayFor(modelItem => item.Image)" height="80" width="220" alt="Image">
                            </td>
                            <td style="vertical-align: middle; width:140px;">
                                <a href="@Url.Action("AddEdit", new { id = item.Id })" class="btn btn-link btn-sm text-success" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                |
                                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-link btn-sm text-primary" title="Details">
                                    <i class="far fa-eye"></i>
                                </a>
                                |
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-link btn-sm text-danger" title="Delete" onclick="return confirmAndDelete(this);">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $('#DataTable').DataTable({
            pageLength: 5,
            lengthMenu: [[5, 10, 20, 50, 100], [5, 10, 20, 50, 100]]
        });
    </script>
}