@model FlyNest.Application.ViewModels.VmEntities.Search.VmReservation
@using FlyNest.SharedKernel.Core.Default
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .fs-7 {
        font-size: .8rem !important
    }

    .fit-image {
        object-fit: cover;
        height: 100%;
    }

    .trav_engine {
        position: relative;
        width: 220px;
        z-index: 3;
    }

    #txtTotalTravelers {
        padding-top: 5px;
    }

    .trav_toggle {
        width: 210px;
        box-sizing: border-box;
        line-height: 32px;
        font-size: 0;
        position: absolute;
        top: 5px !important;
    }

    .trav_form {
        border: 1px solid #ddd;
        width: 220px;
        box-sizing: border-box;
        float: left;
        position: absolute;
    }

    .trav_item {
        border-bottom: 1px solid #eaeaea;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        float: left;
        background-color: #FFF;
    }

    .trav_inner1 {
        width: 40%;
        float: left;
        font-size: 15px;
        line-height: 17px;
        color: #333333;
        box-sizing: border-box;
    }

        .trav_inner1 span {
            font-size: 11px;
            display: block;
            color: #888888;
        }

    .trav_inner2 {
        width: 60%;
        float: left;
        font-size: 13px;
        line-height: 30px;
        color: #666;
        box-sizing: border-box;
        display: flex;
    }

    .minus, .plus {
        border: 1px solid #ddd;
        width: 36px;
        text-decoration: none;
        font-size: 18px;
        height: 34px;
        text-align: center;
        box-sizing: border-box;
        float: left;
        background: #ddd;
        background: rgb(255,255,255);
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 48%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 48%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 48%,rgba(255,255,255,1) 100%);
    }

    .minus {
        border-radius: 50% 0 0 50%;
    }

    .plus {
        border-radius: 0 50% 50% 0;
    }

    .txt_trav {
        outline: none;
        border: 1px solid #ddd;
        height: 34px;
        width: 36px;
        float: left;
        text-align: center;
        line-height: 34px;
        box-sizing: border-box;
        border-left: 0;
        border-right: 0;
        font-size: 16px;
        color: #444;
    }

    .txt_Traveler {
        border: 1px solid #ddd;
        width: 220px;
        box-sizing: border-box;
        padding: 10px;
        outline: none;
    }

    .trav_done {
        padding: 0px;
        display: block;
        border-radius: 2px;
        background: #f2f2f2;
        font-size: 14px;
        border: 1px solid #ddd;
        color: #444;
        width: 70px;
        margin: 0 auto;
        text-align: center;
        cursor: default;
    }

    .trav_toggle.open {
        background: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/down4-512.png) no-repeat right 3px;
        background-size: 15px;
    }

    .trav_toggle.close {
        background: url(https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/up4-512.png) no-repeat right 3px;
        background-size: 15px;
    }

    /****  floating-Lable style start ****/
    .floating-label {
        position: relative;
        margin-bottom: 10px;
    }

    .floating-input, .floating-select {
        font-size: 14px !important;
        padding: 4px 4px !important;
        display: inline-block !important;
        width: 100% !important;
        height: 30px !important;
        background-color: transparent !important;
        border: 1px solid #ccc !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
    }

    .select2-container--default
    .select2-selection--single,
    .select2-selection
    .select2-selection--single {
        font-size: 14px !important;
        border: 1px solid #ccc !important;
        border-radius: 0 !important;
        padding: 4px 4px !important;
        height: 30px !important;
        width: 100% !important;
    }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #444;
            line-height: initial !important;
        }

    .floating-input:focus, .floating-select:focus {
        outline: none;
        border-bottom: 2px solid #5264AE;
    }

    .floating-label-placeholder {
        color: #999;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 5px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .floating-input:focus ~ .floating-label-placeholder, .floating-input:not(:placeholder-shown) ~ .floating-label-placeholder {
        top: -13px;
        background-color: #fff;
        font-size: 14px;
        color: #5264AE;
    }

    .floating-select:focus ~ .floating-label-placeholder, .floating-select:not([value=""]):valid ~ .floating-label-placeholder {
        top: -18px;
        font-size: 14px;
        color: #5264AE;
    }

    /* active state */
    .floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
        width: 50%;
    }

    *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .floating-textarea {
        min-height: 30px;
        max-height: 260px;
        overflow: hidden;
        overflow-x: hidden;
    }

    /* highlighter */
    .highlight {
        position: absolute;
        height: 50%;
        width: 100%;
        top: 15%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }

    /* active state */
    .floating-input:focus ~ .highlight, .floating-select:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }


    /* animation */
    @@-webkit-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @@-moz-keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    @@keyframes inputHighlighter {
        from {
            background: #5264AE;
        }

        to {
            width: 0;
            background: transparent;
        }
    }

    /****  floating-Lable style end ****/
</style>

<!-- =========== Hero Section Start =========== -->
<!-- =========== Hero Section Start =========== -->
<div class="hero-section-slider">
    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
        <div class="carousel-inner">

            @foreach (var (index, item) in Model.ImageSlider.Select((value, i) => (i, value)))
            {
                <div class="carousel-item @(index == 0 ? "active" : "")">
                    <img src="~/images/slider/@item.Image" class="d-block w-100 fit-image" alt="Slide @(index + 1)">
                    <div class="overlay"></div>
                    <div class="carousel-caption d-none d-md-block mb-50">
                        <div class="title mt-100">
                            <h1 class="animate__animated animate__fadeInTopLeft">@item.Title</h1>
                        </div>
                        <div class="text-area mt-10">
                            <h3 class="animate__animated animate__fadeInTopRight">@item.SubTitle</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- =========== Hero Section End =========== -->
<!-- =========== Hero Section End =========== -->
<!-- =========== Search Area Start =========== -->
<div class="search-area">
    <div class="search-trip-type d-flex justify-content-center">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="flight-tab" data-bs-toggle="tab"
                        data-bs-target="#flight-tab-pane" type="button" role="tab" aria-controls="flight-tab-pane"
                        aria-selected="true">
                    <i class="bi bi-airplane-engines"></i> Flight
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="hotel-tab" data-bs-toggle="tab" data-bs-target="#hotel-tab-pane"
                        type="button" role="tab" aria-controls="hotel-tab-pane" aria-selected="false">
                    <i class="bi bi-buildings"></i> Hotel
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="visa-tab" data-bs-toggle="tab" data-bs-target="#visa-tab-pane"
                        type="button" role="tab" aria-controls="visa-tab-pane" aria-selected="false">
                    <i class="bi bi-clipboard"></i> Visa
                </button>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="flight-tab-pane" role="tabpanel" aria-labelledby="flight-tab"
             tabindex="0">
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                     aria-labelledby="pills-home-tab" tabindex="0">

                    @using (Html.BeginForm("CreateFlightReservation", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row g-2 d-flex justify-content-between">
                            <div class="col-md-6">
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
                                    @foreach (var flightType in Enum.GetValues(typeof(FlightType)).Cast<FlightType>())
                                    {
                                        var spacedFlightTypeString = System.Text.RegularExpressions.Regex.Replace(flightType.ToString(), "([a-z])([A-Z])", "$1 $2");

                                        <input type="radio" asp-for="FlightReservation.FlightType" id="@flightType.ToString()" value="@flightType.ToString()" class="btn-check" autocomplete="off">
                                        <label class="btn btn-outline-dark" for="@flightType.ToString()">@spacedFlightTypeString</label>
                                    }
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-between">
                                <div class="col-md-6">
                                    <div class="trav_engine">
                                        <input type="text" id="txtTotalTravelers" class="floating-input" placeholder=" " value="1 Traveler(s)" readonly="readonly" />
                                        <div class="trav_toggle open">
                                            <a href="javascript:void(0)">Open</a>
                                        </div>
                                        <div class="trav_form" style="display:none;">
                                            <div class="trav_item">
                                                <div class="trav_inner1">
                                                    Adults
                                                    <span>12+ yrs</span>
                                                </div>
                                                <div class="trav_inner2">
                                                    <a href="javascript:void(0)" class="minus" onclick="javascript:process(-1)">-</a>
                                                    <input asp-for="FlightReservation.Adult" type="text" value="1" id="ddlAdult" class="txt_trav" readonly="readonly" onkeypress="return false;">
                                                    <a href="javascript:void(0)" class="plus" onclick="javascript:process(1)">+</a>
                                                </div>
                                            </div>
                                            <div class="trav_item">
                                                <div class="trav_inner1">
                                                    Children
                                                    <span>2 - 11 yrs</span>
                                                </div>
                                                <div class="trav_inner2">
                                                    <a href="javascript:void(0)" class="minus" onclick="javascript:process2(-1)">-</a>
                                                    <input asp-for="FlightReservation.Child" type="text" value="0" id="ddlChild" class="txt_trav" readonly="readonly" onkeypress="return false;">
                                                    <a href="javascript:void(0)" class="plus" onclick="javascript:process2(1)">+</a>
                                                </div>
                                            </div>
                                            <div class="trav_item">
                                                <div class="trav_inner1">
                                                    Infants
                                                    <span>under 2 yrs</span>
                                                </div>
                                                <div class="trav_inner2">
                                                    <a href="javascript:void(0)" class="minus" onclick="javascript:process3(-1)">-</a>
                                                    <input asp-for="FlightReservation.Infants" type="text" value="0" id="ddlInfant" class="txt_trav" readonly="readonly" onkeypress="return false;">
                                                    <a href="javascript:void(0)" class="plus" onclick="javascript:process3(1)">+</a>
                                                </div>

                                            </div>
                                            <div class="trav_item">
                                                <span class="trav_done">Done</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select asp-for="FlightReservation.FlightClass" class="floating-input" placeholder=" ">
                                        <option value="Economy">Economy</option>
                                        <option value="Premium Economy">Premium Economy</option>
                                        <option value="Business">Business</option>
                                        <option value="First">First</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row g-2 mt-3">
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="floating-label">
                                    <input asp-for="FlightReservation.DepartureCity" class="floating-input" placeholder=" " required>
                                    <label class="floating-label-placeholder" asp-for="FlightReservation.DepartureCity"></label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="floating-label">
                                    <input asp-for="FlightReservation.ArrivalCity" class="floating-input" placeholder=" " required>
                                    <label class="floating-label-placeholder" asp-for="FlightReservation.ArrivalCity"></label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="floating-label">
                                    <input asp-for="FlightReservation.FromDate" class="floating-input" placeholder=" " required>
                                    <label class="floating-label-placeholder" asp-for="FlightReservation.FromDate"></label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="floating-label">
                                    <input asp-for="FlightReservation.ToDate" id="toDateInput" class="floating-input" placeholder=" " required>
                                    <label class="floating-label-placeholder" asp-for="FlightReservation.ToDate"></label>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="floating-label">
                                    <input asp-for="FlightReservation.ClientName" class="floating-input" placeholder=" " required>
                                    <label class="floating-label-placeholder" asp-for="FlightReservation.ClientName"></label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="floating-label">
                                    <input asp-for="FlightReservation.EmailAddress" class="floating-input" placeholder=" " required>
                                    <label class="floating-label-placeholder" asp-for="FlightReservation.EmailAddress"></label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="floating-label">
                                    <input asp-for="FlightReservation.ContactNumber" class="floating-input" placeholder=" " required>
                                    <label class="floating-label-placeholder" asp-for="FlightReservation.ContactNumber"></label>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <div class="floating-label">
                                    <input asp-for="FlightReservation.AlternativeContact" class="floating-input" placeholder=" " required>
                                    <label class="floating-label-placeholder" asp-for="FlightReservation.AlternativeContact"></label>
                                </div>
                            </div>
                            <input hidden asp-for="FlightReservation.Status" value="Pending">

                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="floating-label" style="float:right;">
                                    <label></label>
                                    <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-ticket me-2"></i> Book A Flight</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="hotel-tab-pane" role="tabpanel" aria-labelledby="hotel-tab" tabindex="0">
            @using (Html.BeginForm("CreateHotelReservation", "Home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="row g-2">
                    <div class="col-md-12 d-flex justify-content-end">
                        <div class="trav_engine">
                            <input type="text" id="txtTotalTravelers" class="floating-input" placeholder=" " value="1 Traveler(s)" readonly="readonly" />
                            <div class="trav_toggle open">
                                <a href="javascript:void(0)">Open</a>
                            </div>
                            <div class="trav_form" style="display:none;">
                                <div class="trav_item">
                                    <div class="trav_inner1">
                                        Adults
                                        <span>12+ yrs</span>
                                    </div>
                                    <div class="trav_inner2">
                                        <a href="javascript:void(0)" class="minus" onclick="javascript:process(-1)">-</a>
                                        <input asp-for="HotelReservation.Adult" type="text" value="1" id="ddlAdult" class="txt_trav" readonly="readonly" onkeypress="return false;">
                                        <a href="javascript:void(0)" class="plus" onclick="javascript:process(1)">+</a>
                                    </div>
                                </div>
                                <div class="trav_item">
                                    <div class="trav_inner1">
                                        Children
                                        <span>2 - 11 yrs</span>
                                    </div>
                                    <div class="trav_inner2">
                                        <a href="javascript:void(0)" class="minus" onclick="javascript:process2(-1)">-</a>
                                        <input asp-for="HotelReservation.Child" type="text" value="0" id="ddlChild" class="txt_trav" readonly="readonly" onkeypress="return false;">
                                        <a href="javascript:void(0)" class="plus" onclick="javascript:process2(1)">+</a>
                                    </div>
                                </div>
                                <div class="trav_item">
                                    <div class="trav_inner1">
                                        Infants
                                        <span>under 2 yrs</span>
                                    </div>
                                    <div class="trav_inner2">
                                        <a href="javascript:void(0)" class="minus" onclick="javascript:process3(-1)">-</a>
                                        <input type="text" value="0" id="ddlInfant" class="txt_trav" readonly="readonly" onkeypress="return false;">
                                        <a href="javascript:void(0)" class="plus" onclick="javascript:process3(1)">+</a>
                                    </div>

                                </div>
                                <div class="trav_item">
                                    <span class="trav_done">Done</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-2 mt-2">

                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="floating-label">
                            <input asp-for="HotelReservation.CityName" class="floating-input" placeholder="" required>
                            <label class="floating-label-placeholder" asp-for="HotelReservation.CityName"></label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="floating-label">
                            <input asp-for="HotelReservation.PreferenceHotel" class="floating-input" placeholder="">
                            <label class="floating-label-placeholder" asp-for="HotelReservation.PreferenceHotel"></label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="floating-label">
                            <input asp-for="HotelReservation.FromDate" class="floating-input" placeholder="" required>
                            <label class="floating-label-placeholder" asp-for="HotelReservation.FromDate"></label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="floating-label">
                            <input asp-for="HotelReservation.ToDate" class="floating-input" placeholder="" required>
                            <label class="floating-label-placeholder" asp-for="HotelReservation.ToDate"></label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="floating-label">
                            <input asp-for="HotelReservation.ClientName" class="floating-input" placeholder=" " required>
                            <label class="floating-label-placeholder" asp-for="HotelReservation.ClientName"></label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="floating-label">
                            <input asp-for="HotelReservation.EmailAddress" class="floating-input" placeholder=" ">
                            <label class="floating-label-placeholder" asp-for="HotelReservation.EmailAddress"></label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="floating-label">
                            <input asp-for="HotelReservation.ContactNumber" class="floating-input" placeholder=" " required>
                            <label class="floating-label-placeholder" asp-for="HotelReservation.ContactNumber"></label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12">
                        <div class="floating-label">
                            <input asp-for="HotelReservation.AlternativeContact" class="floating-input" placeholder=" ">
                            <label class="floating-label-placeholder" asp-for="HotelReservation.AlternativeContact"></label>
                        </div>
                        <input hidden asp-for="HotelReservation.Status" value="Pending">
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="floating-label" style="float:right;">
                            <label></label>
                            <button type="submit" class="btn btn-success btn-sm"><i class="fas fa-ticket me-2"></i> Book A Hotel</button>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="tab-pane fade" id="visa-tab-pane" role="tabpanel" aria-labelledby="visa-tab" tabindex="0">

            @using (Html.BeginForm("VisaProcessRequest", "Home", FormMethod.Get))
            {
                @Html.AntiForgeryToken()
                <div class="row g-2 mt-2 mb-4">
                    <div class="col-lg-11 col-md-12 col-sm-12">
                        <div class="row g-2">
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <select class="form-control form-control-sm" asp-for="VmVisaProcessRequest.CountryId" asp-items="@Model.CountryDropdown">
                                    <option>Select Country</option>
                                </select>
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <input asp-for="VmVisaProcessRequest.FromDate" class="floating-input">
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <input asp-for="VmVisaProcessRequest.ToDate" class="floating-input">
                            </div>
                            <div class="col-lg-3 col-md-12 col-sm-12">
                                <input asp-for="VmVisaProcessRequest.TotalTraveller" class="floating-input" placeholder="Traveller (Ex.  2)">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-12 col-sm-12">
                        <button type="submit" class="btn btn-success btn-sm"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

<!-- =========== Search Area End =========== -->
<!-- =========== Exclusive Offer Start =========== -->
<div class="container exclusive-offer">
    <div class="heading">
        <h2>Exclusive Offers</h2>
    </div>
    <div class="row mt-4" id="exclusive-offer">
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="javascript:void(0)">
                    <img src="~/images/exclusive-offer/1.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Golden Triangle</h5>
                        <p class="mt-2 mb-2">Delhi, Agra, Ajmer, Aaipur <br>5 night,6 days only 49,900/-</p>
                        @* <a href="javascript:void(0)">View Details</a> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="javascript:void(0)">
                    <img src="~/images/exclusive-offer/2.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Malaysia Tourist Visa</h5>
                        <p class="mt-2 mb-2">Visa Price Only 5000/-</p>
                        @* <a href="javascript:void(0)">View Details</a> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="javascript:void(0)">
                    <img src="~/images/exclusive-offer/3.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Tourist Visa </h5>
                        <p class="mt-2 mb-2">Canada</p>
                        @* <a href="javascript:void(0)">View Details</a> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="javascript:void(0)">
                    <img src="~/images/exclusive-offer/canada.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Kathmandu Nagarkot tour</h5>
                        <p class="mt-2 mb-2">3 Nights 4 Days <br> 44,500/-</p>
                        @* <a href="javascript:void(0)">View Details</a> *@
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="offer-card">
                <a href="javascript:void(0)">
                    <img src="~/images/exclusive-offer/dubai_aza.jpg" alt="">
                </a>
                <div class="overlay">
                    <div class="content">
                        <h5 class="fw-bold">Visit 2 countries</h5>
                        <p class="mt-2 mb-2">Dubai &  Azerbaijan <br> Only 1,49,900/-</p>
                        @* <a href="javascript:void(0)">View Details</a> *@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- =========== Exclusive Offer End =========== -->
<!-- =========== Popular Destination Start =========== -->
<div class="p-destination">
    <div class="container">

        <div class="section-title">
            <h2 class="text-center">Some of Our Packages</h2>
        </div>
        <div class="heading">
            <h2 class="my-3">International</h2>
        </div>
        <p class="mt-2 text-justify">
            Embark on a journey beyond Bangladesh's borders to explore diverse cultures and enchanting landscapes in neighboring countries and beyond. Our expertise lies in arranging worldwide tour packages, with a specialization in destinations
            like Dubai, Qatar, Saudi Arabia, Maldives, Sri Lanka, Nepal, India, Uzbekistan, Thailand, Singapore, Malaysia, Cambodia,
            Vietnam, China, Indonesia, and the Philippines. Additionally, we provide packages to European countries including
            Turkey, Italy, Switzerland, France, Germany, Belgium, and also offer comprehensive USA tour packages
        </p>
        <div class="row g-4 mt-4" id="popular-destination">
            @foreach (var item in Model.CountryList)
            {
                <!-- Single -->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card">
                        <a asp-action="GetPackagesByCountry" asp-route-id="@item.Id" asp-controller="Holiday">
                            <img src="~/images/countries/@item.Image" alt="">
                        </a>
                        <div class="overlay"></div>
                        <div class="content">
                            <h6 class="text-white fw-bold">@item.Name</h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- =========== Popular Destiantion End =========== -->
<!-- =========== Explore Bangladesh Start =========== -->

<div class="explore-bd">
    <div class="container">
        <div class="heading">
            <h2 class="mb-3">Bangladesh</h2>
        </div>
        <p class="mt-2 text-justify">
            Prepare to experience Bangladesh's rich culture and explore the majestic beauties of Cox’s Bazar, Sylhet, Bandarban, Sajek Valley, Rangamati etc. Plan your trip now!
        </p>
        <div class="row g-4 mt-4" id="explore-bd">

            @foreach (var item in Model.ExploreBDList)
            {
                <!-- Single -->
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card">
                        <a asp-action="PackageDetails" asp-route-id="@item.Id" asp-controller="Holiday">
                            <img src="~/images/tourPackage/@item.ImageOne" alt="">
                        </a>
                        <div class="overlay"></div>
                        <div class="content">
                            <h6 class="text-white fw-bold">@item.Title</h6>
                            @*<span class="text-white">2 Nights | 3 Days </span>*@
                            <p class="text-white text-start"> @item.PackagePrice </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!-- =========== Explore Bangladesh End =========== -->
<!-- =========== Tourist Visa Processing Start =========== -->
<div class="tourist-visa-processing">
    <div class="container">
        <div class="heading">
            <h2>Tourist Visa Processing</h2>
        </div>
        <p class="mt-2">
            Renaissance Holidays provides worldwide visa services. Our expert guidance will help you
            navigate the complexities of visa applica-
            tions, ensuring a seamless travel experience. We offer a wide range of visas, including tourist visas,
            business visas, medical visas and
            student visas. We provide guaranteed visas for certain countries and we can process visas for many other
            countries as well.
        </p>
        <div class="row g-4 mt-4 justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="javascript:void(0)">
                        <img src="~/images/tourist-visa/usa.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">USA</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="javascript:void(0)">
                        <img src="~/images/tourist-visa/australia.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Australia</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="javascript:void(0)">
                        <img src="~/images/tourist-visa/canada.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Canada</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="javascript:void(0)">
                        <img src="~/images/tourist-visa/uk.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">UK</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="javascript:void(0)">
                        <img src="~/images/tourist-visa/dubai.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Dubai</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="javascript:void(0)">
                        <img src="~/images/tourist-visa/thailand.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Thailand</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="javascript:void(0)">
                        <img src="~/images/tourist-visa/singapore.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Singapore</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <div class="card">
                    <a href="javascript:void(0)">
                        <img src="~/images/tourist-visa/malaysia.jpg" alt="">
                    </a>
                    <div class="overlay"></div>
                    <div class="content text-center">
                        <h6 class="text-white fw-bold">Malaysia</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== Tourist Visa Processing End =========== -->
<!-- =========== Top Routes Start =========== -->
<div class="top-routes">
    <div class="container">
        <div class="heading">
            <h2 class="text-center">Top Domestic & International Routes</h2>
        </div>
        <p class="mt-2 text-center">
            Make your next trip unforgettable with ShareTrip! From business class to economy class flights on international trips or domestic ones, choose from hundreds of airlines
        </p>

        <div class="mt-4">
            <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active rounded-start-pill" id="pills-domestics-tab"
                            data-bs-toggle="pill" data-bs-target="#pills-domestics" type="button" role="tab"
                            aria-controls="pills-domestics" aria-selected="true">
                        Domestic
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link rounded-end-pill" id="pills-international-tab" data-bs-toggle="pill" data-bs-target="#pills-international" type="button" role="tab"
                            aria-controls="pills-international" aria-selected="false">
                        International
                    </button>
                </li>

            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-domestics" role="tabpanel"
                     aria-labelledby="pills-domestics-tab" tabindex="0">
                    <div class="row g-2 mt-4">
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-e">
                                        <div class="col-md-5">
                                            <h6>Dhaka</h6>
                                            <div class="truncate" title="Hazrat Shahjalal International Airport">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="col-md-2 icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div class="col-md-5">
                                            <h6>Cox's Bazar</h6>
                                            <div class="truncate" title="Cox's Bazar Airport">Cox's Bazar Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div class="col-md-5">
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="col-md-2 icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div class="col-md-5">
                                            <h6>Chittagong</h6>
                                            <div class="truncate">Shah Amanat Inte...</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div class="col-md-5">
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="col-md-2 icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div class="col-md-5">
                                            <h6>Sylhet</h6>
                                            <div class="truncate">Osmany Internati...</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div class="col-md-5">
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="col-md-2 icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div class="col-md-5">
                                            <h6>Jessore</h6>
                                            <div class="truncate">Jessore Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div class="col-md-5">
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="col-md-2 icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div class="col-md-5">
                                            <h6>Barisal</h6>
                                            <div class="truncate">Barisal Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div class="col-md-5">
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="col-md-2 icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div class="col-md-5">
                                            <h6>Rajshahi</h6>
                                            <div class="truncate">Shah Mokhdum Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-international" role="tabpanel"
                     aria-labelledby="pills-international-tab" tabindex="0">
                    <div class="row g-2 mt-4">
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Neryungri</h6>
                                            <div class="truncate">Chulman Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Colombo</h6>
                                            <div class="truncate">Bandaranaike International Colombo Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Madinah</h6>
                                            <div class="truncate">Prince Mohammad Bin Abdulaziz Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Hyderabad</h6>
                                            <div class="truncate">Hyderabad International Airport Ltd</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Agartala</h6>
                                            <div>Agartala Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Bangkok</h6>
                                            <div class="truncate">Suvarnabhumi Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Delhi</h6>
                                            <div class="truncate">Indira Gandhi International Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Chennai</h6>
                                            <div class="truncate">Chennai International Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Kuala Lumpur</h6>
                                            <div class="truncate">Kuala Lumpur International Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>London</h6>
                                            <div class="truncate">London Heathrow Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Kathmandu</h6>
                                            <div class="truncate">Tribhuvan International Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Kolkata</h6>
                                            <div class="truncate">Netaji Subhash Chandra Bose International Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Melbourne</h6>
                                            <div class="truncate">Melbourne International Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Bangalore</h6>
                                            <div class="truncate">Kempegowda International Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>Washington</h6>
                                            <div class="truncate">Washington Dulles International Airpo</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Single -->
                        <div class="col-lg-4 col-md-6 col-sm-12">
                            <a href="javascript:void(0)">
                                <div class="card">
                                    <div class="d-flex gap-2 align-items-center justify-content-between">
                                        <div>
                                            <h6>Dhaka</h6>
                                            <div class="truncate">Hazrat Shahjalal International Airport</div>
                                        </div>
                                        <div class="icon">
                                            <i class="bi bi-airplane-engines"></i>
                                        </div>
                                        <div>
                                            <h6>New York</h6>
                                            <div class="truncate">John F. Kennedy International Airport</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<!-- =========== Top Routes End =========== -->


@section Scripts{
    <script>
        $('.floating-select').select2();
    </script>
    <script>
        var roundTripRadio = document.getElementById('RoundTrip');
        var toDateInput = document.getElementById('toDateInput');
        var oneWay = document.getElementById('OneWay');

        function toggleToDateInput() {
            toDateInput.disabled = !roundTripRadio.checked;
        }
        roundTripRadio.addEventListener('change', toggleToDateInput);
        oneWay.addEventListener('change', toggleToDateInput);
    </script>
    <script>

        $(document).ready(function () {

            if ($('div.trav_toggle').length > 0) {
                $('div.trav_toggle').click(function () {
                    if ($(this).hasClass('open')) {
                        $(this).removeClass('open');
                        $(this).addClass('close');
                        $(this).next().slideDown(100);
                        return false;
                    } else {
                        $(this).removeClass('close');
                        $(this).addClass('open');
                        $(this).next().slideUp(100);
                        return false;
                    }
                });
            }
            $('.trav_done').click(function () {
                if ($('div.trav_toggle').hasClass('close')) {
                    $('div.trav_toggle').removeClass('close');
                    $('div.trav_toggle').addClass('open');
                    $('div.trav_toggle').next().slideUp(100);
                }
            });
        });

        function process(v) {
            var Adult = parseInt(document.getElementById("ddlAdult").value);
            var Child = parseInt(document.getElementById("ddlChild").value);
            var Infant = parseInt(document.getElementById("ddlInfant").value);
            Adult += v;
            var total = Adult + Child;
            if (total <= 9 && Adult >= 1) {
                document.getElementById("ddlAdult").value = Adult;
                if (Infant > Adult) {
                    document.getElementById("ddlInfant").value = Adult;
                }
                var TotTravelers = Adult + Child + Infant;
                document.getElementById("txtTotalTravelers").value = (TotTravelers + " Traveler(s)");
            }
        }


        function process2(s) {
            var Adult = parseInt(document.getElementById("ddlAdult").value);
            var Child = parseInt(document.getElementById("ddlChild").value);
            var Infant = parseInt(document.getElementById("ddlInfant").value);
            Child += s;
            var total = Adult + Child;
            if (total <= 9 && Child >= 0) {
                document.getElementById("ddlChild").value = Child;
                var TotTravelers = Adult + Child + Infant;
                document.getElementById("txtTotalTravelers").value = (TotTravelers + " Traveler(s)");
            }
        }


        function process3(sh) {
            var Adult = parseInt(document.getElementById("ddlAdult").value);
            var Infant = parseInt(document.getElementById("ddlInfant").value);
            var Child = parseInt(document.getElementById("ddlChild").value);
            Infant += sh;
            if (Infant <= Adult && Infant >= 0) {
                document.getElementById("ddlInfant").value = Infant;
                var TotTravelers = Adult + Child + Infant;
                document.getElementById("txtTotalTravelers").value = (TotTravelers + " Traveler(s)");
            }
        }


    </script>

}


