@model FlyNest.Application.ViewModels.VmEntities.VmTourPackage

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Airline</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Airline</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Airline List</h3>
            <div class="card-tools">
                <a asp-action="AddEdit" asp-controller="TourPackage" class="btn btn-info btn-sm"><i class="bi bi-plus-square"></i>New Tour Package</a>
            </div>
        </div>
        <div class="card-body">
            <div>
                <h4>VmTourPackage</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TourDescription)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TourDescription)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.HotelDetails)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.HotelDetails)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Inclusion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Inclusion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Exclusion)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Exclusion)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PackagePrice)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PackagePrice)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CountryName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.CountryName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.PackageType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.PackageType)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ImageOne)
                    </dt>
                    <dd class="col-sm-10">
                        @if (!string.IsNullOrEmpty(Model.ImageOne))
                        {
                            <img src="~/images/tourPackage/@Url.Content(Model.ImageTwo)" alt="Image One" style="max-width: 100px; max-height: 100px;" />
                        }
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ImageTwo)
                    </dt>
                    <dd class="col-sm-10">
                        @if (!string.IsNullOrEmpty(Model.ImageTwo))
                        {
                           <img src="~/images/tourPackage/@Url.Content(Model.ImageTwo)" alt="Image One" style="max-width: 100px; max-height: 100px;" />
                        }
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ImageThree)
                    </dt>
                    <dd class="col-sm-10">
                        @if (!string.IsNullOrEmpty(Model.ImageThree))
                        {
                           <img src="~/images/tourPackage/@Url.Content(Model.ImageTwo)" alt="Image One" style="max-width: 100px; max-height: 100px;" />
                        }
                    </dd>

                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                </dl>
            </div>
        </div>
    </div>

</section>


<h1>Details</h1>


<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
