@model FlyNest.Application.ViewModels.VmEntities.VmTourPackage

@{
    ViewData["Title"] = "Tour Package";
    Layout = "~/Views/Shared/_Adminlte.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tour Package</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active">Tour Package</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Tour Package Details</h3>
                <div class="card-tools">
                    <a asp-action="AddEdit" asp-controller="TourPackage" class="btn btn-info btn-sm">
                        <i class="fas fa-plus-square"></i> Create
                    </a>
                    <a asp-action="AddEdit" asp-controller="TourPackage" asp-route-id="@Model.Id" class="btn btn-info btn-sm">
                        <i class="fas fa-pen"></i> Edit
                    </a>
                    <a asp-action="Index" asp-controller="TourPackage" class="btn btn-info btn-sm">
                        <i class="fas fa-list-check"></i> List
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="tour-package-details">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Title)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Title)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.TourDescription)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.TourDescription)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.HotelDetails)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.HotelDetails)
                                </dd>
                            </dl>
                        </div>
                        <div class="col-sm-6">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Inclusion)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Inclusion)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Exclusion)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Exclusion)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PackagePrice)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.PackagePrice)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CountryName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CountryName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PackageType)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.PackageType)
                                </dd>
                            </dl>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                @if (!string.IsNullOrEmpty(Model.ImageOne))
                                {
                                    <img src="~/images/tourPackage/@Url.Content(Model.ImageOne)" alt="Image One" class="img-fluid" style="width: 100%; max-height: 150px;" />
                                }
                            </div>
                            <div class="col-md-4">
                                @if (!string.IsNullOrEmpty(Model.ImageTwo))
                                {
                                    <img src="~/images/tourPackage/@Url.Content(Model.ImageTwo)" alt="Image One" class="img-fluid" style="width: 100%; max-height: 150px;" />
                                }
                            </div>
                            <div class="col-md-4">
                                @if (!string.IsNullOrEmpty(Model.ImageThree))
                                {
                                    <img src="~/images/tourPackage/@Url.Content(Model.ImageThree)" alt="Image One" class="img-fluid" style="width: 100%; max-height: 150px;" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>